.projects{
    
    margin: 40px ;
    display: flex;
    justify-content: center;
}

.projects__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

