.projects{
    
    margin: 40px ;
    display: flex;
    justify-content: center;
}

.projects__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 200px;

    position: relative;
  overflow: hidden;
  
}

.project:nth-of-type(1) h3{
    background-color: #803043;
}
.project:nth-of-type(2) h3{
    background-color: #764b80;
}
.project:nth-of-type(3) h3{
    background-color: #414480;
}
.project:nth-of-type(4) h3{
    background-color: #4d1d28;
}
.project:nth-of-type(5) h3{
    background-color: #472d4d;    
}
.project:nth-of-type(6) h3{
    background-color: #27294d;
}
.project h3{
    color: #fff;
    display: flex;

    height: 100%;
    justify-content: center;
    align-items: center;

    opacity: 0.9;
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    position: relative;
 left: -10%;
}
.project:hover .tags{
left: 0;
transition: 0.4s;
}
.tag{
    font-weight: 800;
    font-size: 14px;
    margin:2px;
    color: #FC5C7D;
}
.project__description{
    padding: 20px;
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
z-index: 0;
    background: #263479;
    opacity: 0;
    color: #fff;
    /* transition:  opacity 0.3s linear; */
    
}
.project:hover .project__description{
    display: flex;
   opacity: 0.9;
 
}
.project:hover > h3{
    display: none;
}
.project:hover .project__description p{
    right: 0;
    transition: 0.4s;
 }
.project__description > p{
 display: flex;
 align-items: center;
 padding: 2px;
 position: relative;
 right: -100%;
 color: #fff;
 
}
.project__description  p > a{
    
    color: #fff;
    font-weight: 800;
  
}
@media(max-width: 767.98px){
    .project__description{
        visibility: visible;
        opacity: 0.8;
        text-align: left;
    }
    .project__description p{
        right: 0;
    }
    .tags{
        left: 0;
    } 
}
/* @media (max-width: 991.98px) { 
    .project{
        width: 300px;
    }
    .project__description{
        visibility: visible;
        opacity: 0.8;
    }
 } */
