*{
  margin: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Peddana&family=Poppins:wght@300&family=Secular+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shippori+Mincho+B1:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Secular One',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.root{
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
